.nav-bgbg {
    height: 110px;
    width: 100%;
    background: url(../images/loginheader.png) no-repeat center/cover;
}

.reg-cont {
    margin: 0 auto;
    border: 1px solid red;
    width: 456px;
    height: 456px;
}

.cont-table {
    width: 456px;
    height: 456px;
    background: pink;
}

ul {
    list-style: none;
}

.zc {
    border: none;
    width: 80px;
    height: 30px;
    background: rgb(221, 19, 19);
}